/******************************************************************************/
a {
	color: inherit;
	text-decoration: none;
}

/******************************************************************************/

.investment-line-item {
	margin: 10px;
	min-width: 230px;
	padding: 15px;
	border: 1px solid rgb(170, 170, 170);
	border-radius: 5px;
	position: relative;
	cursor: pointer;

	&:hover {
		background: rgb(250, 250, 250);
	}

	&__ticker {
		margin: 10px;
		text-align: center;
		font-weight: 400;

	}

	&__share {
		font-weight: 600;
	}

	&__percentage {
	}

	&__warning-symbol {
		display: inline;
		position: absolute;
		border-radius: 100%;
		top: 0px;
		right: 15px;
	}
}

/******************************************************************************/
