/******************************************************************************/

.accounts {
	margin: 0 auto;
	width: 80%;
}

.accounts > h1 {
	text-align: center;
}

.accounts > h3 {
}

/******************************************************************************/