.positions {
	padding: 30px;

	h1 {

	}

	h2 {

	}
	&__search {
		height: 40px;
		margin: 40px auto;
		margin-top: 15px;
	}

	.investment-line-items {
		margin: 0 auto;

		thead {

			tr {

				th:first-child {
					text-align: left;
				}

				th {
					padding-bottom: 10px;
					text-align: right;
					font-size: 14px;
				}
			}
		}

		.investment-line-item {
			text-align: right;
		}

		.investment-line-item__ticker {
			text-align: left;
		}

		.investment-line-item__warning-symbol {
			text-align: center;
		}
	}

	.noJS {
		font-style: italic;
		margin-left: 15px;
		font-size: 10pt;
	}

}
