:root {
  --positions-contrast-color: rgb(29 49 83);
  --positions-bg-color: rgb(10, 34, 57);
  --positions-font-color: #D1D1D1;
}

.positions {
	background: var(--positions-bg-color);
	color: var(--positions-font-color);
	padding: 30px;

	h1 {
		text-align: center;
	}

	&__table {
		margin-top: 30px;
		padding: 30px;
		width: 100%;
		background: var(--positions-contrast-color);
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
		border-radius: 5px;


		&__search {
			max-width: 500px;
			height: 40px;
			margin: 40px auto;
			margin-top: 15px;
			color: var(--positions-font-color);
		}

		::placeholder {
			color: var(--positions-font-color);
			opacity: 1;
		}
	}



	.noJS {
		font-style: italic;
		margin-left: 15px;
		font-size: 10pt;
	}

}
