.networth {
	min-height: 100vh;
	margin: 0;
	padding: 30px;
	background-color: rgb(10, 28, 59);
	color: #D1D1D1;

	h1 {
		margin-bottom: 15px;
		text-align: center;
	}

	&__accounts-list {
		padding: 30px;
		width: 100%;
		background: rgb(13, 42, 89);
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
		border-radius: 5px;
	}

	&__chart {
		padding: 30px;
		width: 100%;
		background: rgb(13, 42, 89);
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
		border-radius: 5px;

		&__checkbox-container {

			input {
				margin-right: 5px;
			}

			label {

			}
		}
	}
}

.recharts-responsive-container {
	margin-left: -15px;
}
