.recharts-responsive-container {
	margin: 0 auto;
}

.stock-pie-chart {
	margin: 0 auto;
	max-width: 900px;
	width: 90%;
	padding:  30px min(3vw, 30px);
	background: var(--contrast-color);
	color: var(--font-color);
	box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
	border-radius: 5px;

	@media all and (max-width: var(--media-break-point)) {
		width: 100%;
		background: var(--bg-color);
	}

	h1 {
		text-align: center;
	}
}
