/******************************************************************************/
.investment-line-item-link {
	color: black;
}

.investment-line-items {
	margin: 0 auto;
	table-layout: fixed;
    width: 700px;

	tr {

		th {
			text-align: left;
		}

	}

	a {
		text-decoration: none;
		display: contents;
	}

}

/******************************************************************************/

.investment-line-item {
	margin: 10px;
	// min-width: 200px;
	// width: 200px;
	// max-width: 200px;
	padding: 15px;
	border: 1px solid rgb(170, 170, 170);
	border-radius: 5px;
	position: relative;
	cursor: pointer;

	&:hover {
		background: rgb(250, 250, 250);
	}

	&__ticker {
		margin: 10px;
		font-weight: 400;
		text-overflow: ellipsis;
		overflow: clip;
		padding-right: 10px;
	}

	&__share {
		font-weight: 600;
	}

	&__percentage {
	}

	&__warning-symbol {
		// display: inline;
		// position: absolute;
		// border-radius: 100%;
		// top: 0px;
		// right: 3px;
	}
}

/******************************************************************************/
