.manage-accounts {

	h1 {
		margin: 30px 0;
	}

	h5 {
		margin: 30px 0;
	}

	button {
		width: 150px;
		height: 35px;
		cursor: pointer;
	}

	&__container {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		&__modify {
			margin: 5px 5px 5px 0;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			p {
				width: 250px;

			}

			button {
				width: 150px;
				height: auto;
				padding: 10px;
			}
		}
	}

}

