.manage-accounts {
	padding: 30px;
	background: var(--bg-color);
	color: var(--font-color);

	h1 {
		text-align: center;
		margin-bottom: 15px;
	}

	&__link {
		margin-bottom: 120px;

		h1 {
			margin-bottom: 10px;

		}

		button {
			padding: 10px 25px;
			cursor: pointer;
		}

	}

	&__linked {

	}


}
