.positions {

	h1 {
	}

	h2 {
	}

	&__search {
		height: 40px;
		margin: 40px auto;
		margin-top: 15px;
	}

	.investment-line-items {
		margin: 0 auto;
        // width: 80%;
		// display: flex;
		// flex-direction: row;
		// justify-content: center;
		// flex-wrap: wrap;
	}

	.noJS {
		font-style: italic;
		margin-left: 15px;
		font-size: 10pt;
	}

}
