:root {
  --accounts-bg-color: rgb(10, 34, 57);
  --accounts-contrast-color: rgb(29 49 83);
  --accounts-font-color: #D1D1D1;
}

.accounts {

	background: var(--accounts-bg-color);
	color: var(--accounts-font-color);
	min-height: 100vh;

	&__balances {
		padding: 30px;
	}

	&__list {
		padding: 30px;
	}

}
