.investments {
	color: var(--font-color);
	background-color: var(--bg-color);

	&__positions {
		margin: 0 auto;
		max-width: 900px;
		width: 90%;
		padding: 30px;
		background: var(--contrast-color);
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
		border-radius: 5px;

		@media all and (max-width: var(--media-break-point)) {
			width: 100%;
			background: var(--bg-color);
		}
	}

	&__irr {
		margin: 10px auto;
		max-width: 900px;
		width: 90%;
		padding: 30px;
		background: var(--contrast-color);
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
		border-radius: 5px;
	}

	&__sector-weight {
		margin: 0px auto;
		padding: 30px;
		max-width: 900px;
		width: 90%;
		background: var(--contrast-color);
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
		border-radius: 5px;
	}

	&__position {
		margin: 10px auto;
		max-width: 900px;
		width: 90%;
		padding: 30px;
		background: var(--contrast-color);
		box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
		border-radius: 5px;
	}

}
