.home {

	&__main {

		margin: 30px;

		&__links {
			margin: 10px 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			a {
				margin: 5px 0;
			}
		}
	}

	&__about {
		width: 100vw;
		min-height: 300px;
		background: var(--bg-color);
		color: var(--font-color);
		display: flex;
		justify-content: center;
		align-items: center;

		h3 {
			text-align: center;
		}
	}

	&__points {

		h3 {
			margin-bottom: 10px;
			text-align: center;
		}

		padding: 30px;
		width: 100vw;
		min-height: 300px;
		background: var(--contrast-color);
		color: var(--font-color);
	}
}
